<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{question.title}}</title>
	<script type="text/javascript" src="{{url_for('static', filename='bootstrap5/bootstrap.min.js')}}"></script>
	<script type="text/javascript" src="{{url_for('static', filename='bootstrap5/popper.min.js')}}"></script>
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='bootstrap5/bootstrap.min.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/base.css')}}">
</head>

<body>
	<header class="p-3 text-bg-light border-bottom mb-3">
		<div class="container">
			<div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
				<a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
					<img src="{{url_for('static',filename='images/logo.png')}}" height="40">
				</a>

				<ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
					<li><a href="{{url_for('qa.index')}}" class="nav-link px-2 text-secondary">首页</a></li>
					<li><a href="{{url_for('qa.public_question')}}" class="nav-link px-2 text-secondary">发布博客</a></li>
				</ul>

				<form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search" method="get"
					action="{{url_for('qa.search')}}">
					<input type="search" class="form-control" placeholder="Search..." aria-label="Search" name="q">
				</form>

				<div class="text-end">
					{% if user %}
					<span class="btn btn-outline-primary me-2">{{user.username}}</span>
					<a type="button" class="btn btn-primary" href="{{url_for('auth.logout')}}">退出登录</a>
					{% else %}
					<a type="button" class="btn btn-outline-primary me-2" href="{{url_for('auth.login')}}">登录</a>
					<a type="button" class="btn btn-primary" href="{{url_for('auth.register')}}">注册</a>
					{% endif %}
				</div>
			</div>
		</div>
	</header>

	<main class='container p-4 rounded bg-white'>
		<h1>{{question.title}}</h1>
		<hr>
		<div class="mt-3">
			<img src="{{url_for('static',filename='images/avatar.webp')}}" width='30' height='30'
				class='rounded-circle me-2'>{{question.author.username}}<span
				class='ms-2 me-2'>于</span>{{question.create_time}}发布
		</div>
		<hr>
		<div>
			<h3>内容</h3>
			<p>
				{{question.content}}
			</p>
		</div>
		<hr>
		<br>
		<h3>评论</h3>
		<form action="{{url_for('qa.public_answer') }}" method='POST'>
			<div class="form-group">
				<input type="text" name="content" class='form-control' placeholder="请输入评论内容">
				<input type="hidden" name="question_id" value="{{question.id}}">
			</div>
			<div class="form-group text-end mt-2">
				<button class="btn btn-primary">评论</button>
			</div>
		</form>
		<ul class='mt-4 list-group list-group-flush'>
			{% for answer in question.answers %}
			<li class="list-group-item">
				<div class="d-flex justify-content-between text-body-tertiary">
					<div class="base-info">
						<img src="{{url_for('static',filename='images/avatar.webp')}}" width='40' height='40'
							class='rounded-circle me-2'>{{answer.author.username}}
					</div>
					<div>
						{{answer.create_time}}
					</div>
				</div>
				<p class="mt-2">
					{{answer.content}}
				</p>
			</li>
			{% endfor %}
		</ul>
	</main>
</body>

</html>